<?xml version="1.0"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Assemblies" value="ActivityLib.dll" />
    <add key="WorkflowStyle" value="TestSuite" />
    <!--it could be Sequence,TestSuite,FlowChart.
    StateMachine? the CTP 1 has some bugs! -->
    
  </appSettings>
</configuration>
