<?xml version="1.0"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <appSettings>
    <add key="Assemblies" value="ActivityLib.dll" />
    <add key="WorkflowStyle" value="TestSuite" />
    <!--it could be Sequence,TestSuite,FlowChart.
    StateMachine? the CTP 1 has some bugs! -->
    <add key="DBConnectionString" value="mongodb://localhost" />
    <add key="DBName" value="Automation" />
    <add key="LogName" value="Automation" />
    <add key="SupportedAction" value="action" />
    <add key="ProjectsRoot" value="0010010000001" />
    <add key="LogRoot" value="0020020000002" />
    <add key="DataId" value="0030030000003" />
    <add key="ObjectPool" value="0040040000004" />
    <add key="CallTestCases" value="0050050000005" />
    <add key="FavoritesInstance" value="0080080000008"/>
    
  </appSettings>
</configuration>
