<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8421/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="Communication.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://localhost:8421/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap1" contract="Service.ServiceSoap"
                name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>