
/Common/Common/obj
/Common/Common/bin
/MongoDB/MongoDB/obj
/Client/SeleniumActions/obj
/Client/SeleniumActions/bin
/Editor/Editor/bin
/Editor/Editor/obj
/Client/Client/bin
/Client/Client/obj
/Client/AutoClient/obj
/Automation/ActivityLib/bin
/Automation/ActivityLib/obj
/Automation/Automation/bin
/Automation/Automation/obj
/Automation/Editor/bin
/Automation/Editor/obj
/Automation/Automation/publish
