
/Common/Common/obj
/Common/Common/bin
/Common/Common/obj
/MongoDB/MongoDB/obj
/Client/SeleniumActions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client/SeleniumActions/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Client/SeleniumActions/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Editor/Editor/bin/Debug/Editor.exe.config
/Editor/Editor/bin/Debug/Editor.vshost.exe
/Editor/Editor/bin/Debug/Editor.vshost.exe.config
/Editor/Editor/bin/Debug/Editor.vshost.exe.manifest
/Editor/Editor/obj/Debug/App.g.i.cs
/Editor/Editor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Editor/Editor/obj/Debug/Editor.csproj.FileListAbsolute.txt
/Editor/Editor/obj/Debug/Editor_MarkupCompile.i.cache
/Editor/Editor/obj/Debug/MainWindow.g.i.cs
/Editor/Editor/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Editor/Editor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Editor/Editor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Client/Client/bin/Debug/Client.exe.config
/Client/Client/bin/Debug/Client.vshost.exe
/Client/Client/bin/Debug/Client.vshost.exe.config
/Client/Client/bin/Debug/Client.vshost.exe.manifest
/Client/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
/Client/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client/Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Client/Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Client/AutoClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client/AutoClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Client/AutoClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs