/Common/Common/obj
/Common/Common/bin
/MongoDB/MongoDB/obj
/Client/SeleniumActions/obj
/Client/SeleniumActions/bin
/Editor/Editor/bin
/Editor/Editor/obj
/Client/Client/bin
/Client/Client/obj
/Client/AutoClient/obj
/Automation/ActivityLib/bin
/Automation/ActivityLib/obj
/Automation/Automation/bin
/Automation/Automation/obj
/Automation/Editor/bin
/Automation/Editor/obj
/Automation/Automation/publish
/Lib/Common.dll
/Lib/MongoDB.dll
/Lib/Common.dll
/Lib/Common.dll
/Automation/_ReSharper.Automation/
/Client/AutoClient/bin
/Common/MongoDB/obj/
/Client/_ReSharper.Client/
/Common/_ReSharper.Common/