@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <p></p>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        HaPa Automation test framework is an open source project.<br /> 
        We hope you can join and contribute to make automation easier and more reliable.
    </p>

    <p>
        We cannot provide fast and professional support now.<br />
        Because all the contributors are working on this project part-time.<br />
        We will try our best to help you, to make you run the test without trouble.
    </p>

    
</article>
<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>N/A</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>N/A</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email/Web Site:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:huangjien@gmail.com">Jien Huang</a></span>
    </p>
    <p>
        <span class="label">Project Site:</span>
        <span><a href="http://hapa.googlecode.com">HaPa project is open source!</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Privacy.<br />
        N/A
    </p>
</section>